.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;


    .section {
        padding: 0px 10px 10px;
        @include media-breakpoint-up(md) {
            padding: 0px 10px;
        }
    }

    .controls {

    }
    .timeline {
        display: flex;
        align-items: center;
        order: 4;
        flex-basis: 100%;
        padding: 0px 10px 10px 20px;

        @include media-breakpoint-up(md) {
            flex: 1;
            order: inherit;
            padding: 0px 10px;
        }
        .timelineWrap {
            padding: 0px 15px;
            position: relative;
            flex: 1;
        }
        .elapsed,
        .duration {
            font-size: 0.8em;
        }

        .duration {
            width: 50px;
            text-align: left;
            cursor: default;
        }


    }
}

.barWrap {
    .bar {
        &:focus{
            outline: none;
        }
    }
}

.timeline {
    .barWrap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .bar {
            -webkit-appearance: none;
            appearance: none;
            height: 2px;
            background: transparent;
            width: 100%;
            position: relative;
        }
        &.range {
            z-index: 3;
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );
            outline: none;
            .bar {
                top: -3px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

.button {
    border: 0;
    background: transparent;
    &:focus {
        outline: none;
    }
}

.volume{
    position: relative;
    margin-left: auto;
    @include media-breakpoint-up(md) {
        margin-left: 0;
    }
    .barWrap {

        display: none;
        -webkit-transform: rotate(-90deg) translate(50%);
        -ms-transform: rotate(-90deg) translate(50%);
        transform: rotate(-90deg) translate(50%);
        position: absolute;
        width: 120px;
        margin-left: -8px;
        margin-top: -8px;
        top: -8px;
        left: -100%;
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%;
    }

}