.searchModal {
    max-width: 100%;
    margin: 0;
    background: #33302c;
    color: #fff;
    padding: 30px;
    width: 100%;
}
.modalFullscreenInner {
    width: 100%;
    height: 100%;
}
.modalClose {
    position: fixed;
    top: 20px;
    right: 20px;
}