.contentLayer {
    background: transparent;
}

.svgContainer {
    height: 100vh;
}

.contentContainer {
    position: relative;
    z-index: 2;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.svgOuter {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    display: block;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    &.circle {
        width: 70vw;
        height: 70vw;
        @include media-breakpoint-up(md) {
            width: 30vw;
            height: 30vw;
        }
    }
    &.square {
        width: 70vw;
        height: 70vw;
        @include media-breakpoint-up(md) {
            width: 30vw;
            height: 30vw;
        }
    }
    &.triangle {
        width: 70vw;
        height: 70vw;
        @include media-breakpoint-up(md) {
            width: 30vw;
            height: 30vw;
        }
    }

    &.hypno {
        border-radius: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    }

}
