.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media-breakpoint-up(sm) {
        margin: 10px -20px;
    }
    @include media-breakpoint-up(sm) {
        margin: 10px -20px;
    }
    @include media-breakpoint-up(md) {
        margin: 10px -20px;
    }

    .item {
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {
            flex-basis: 33.3333333%;
            padding: 20px;
        }
        .inner {
            position: relative;
            .imageOverlay {
                background-color: rgba(0, 0, 0, 0.5);
            }
            &:hover {
                z-index: auto;
            }
        }
    }

    .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
    }
    .contentLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #fff;
        display: inline-flex;
        align-items: center;

    }
    .content {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .title {
            &.mainTitle {
                font-weight: 700;
                font-size: 4em;
                line-height: 1em;
                text-transform: uppercase;
            }

            &.subTitle {
                font-weight: 700;
                font-size: 1.1em;
                color: #e3e3e3;
            }
        }
    }

    :global(.list-group-item){
        border: 0;
        background: transparent;
        position: relative;
        overflow: hidden;
        display: block;
    }

    &:global(.xxx){
        .item {
            .content {
                color: #fff;
                display: inline-flex;
                align-items: center;
                width: 100%;
                perspective: 300px;
                padding-left: 30px;
            }
            .imageOverlay {
                opacity: 0;
            }
            @include media-breakpoint-up(lg) {
                .imageOverlay {
                    opacity: 0;
                    transition:background 0.5s 0.5s, opacity 0.5s 0.5s
                }
                .content {
                    opacity: 0;
                    transition: opacity 0.2s 0.2s;
                    .title {
                        &.mainTitle {
                            opacity: 0;
                            transform: translateZ(-50px);
                            transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
                        }

                        &.subTitle {
                            transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
                        }
                    }
                }
            }
            &:hover {
                .imageOverlay {
                    opacity: 1;
                    transition: background 0.5s, opacity 0.5s;
                }
                .content {
                    opacity: 1;
                    .title {
                        opacity: 1;
                        transform: translateZ(0px);
                        &.mainTitle {
                            transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
                        }
                        &.subTitle {
                            transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
                        }
                    }
                }
            }
        }
    }

    &:global(.bwords){
        .item {
            .imageOverlay {
                background: deeppink;
                opacity: 0;
            }
            &:hover {
                .imageOverlay {
                    opacity: 1;
                    transition: background 0.5s, opacity 0.5s;
                }
            }
        }
    }

    &:global(.panelOver){
        .item {
            .imageOverlay {
                background: yellowgreen;
                opacity: 0;
            }
            .contentLayer {
                padding: 0.5rem;
            }
            .titleWrapper {
                .title {
                    &.mainTitle {
                        font-size: 2.4em;
                    }

                    &.subTitle {

                    }
                }
            }
            .content {

                &:after{
                    content:'';
                    /*     background: #007bff;*/
                    //background-image: url('./media/diagonal-tuna.svg');

                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjM2cHgiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMzMzM3NDUiIHBvaW50cz0iMCwwIDAsMC43IDAuNywwICIvPjxwb2x5Z29uIGZpbGw9IiMzMzM3NDUiIHBvaW50cz0iMTcuMywwIDAsMTcuMyAwLDE4LjcgMTguNywwICIvPjxwb2x5Z29uIGZpbGw9IiMzMzM3NDUiIHBvaW50cz0iMzYsMCAzNS4zLDAgMCwzNS4zIDAsMzYgMC43LDM2IDM2LDAuNyAiLz48cG9seWdvbiBmaWxsPSIjMzMzNzQ1IiBwb2ludHM9IjE4LjcsMzYgMzYsMTguNyAzNiwxNy4zIDE3LjMsMzYgIi8+PHBvbHlnb24gZmlsbD0iIzMzMzc0NSIgcG9pbnRzPSIzNiwzNiAzNiwzNS4zIDM1LjMsMzYgIi8+PC9zdmc+);

                    display: block;
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    bottom: 0;
                    transform: translateY(100%);
                    transition: transform .4s;
                }

            }
            &:hover {
                .imageOverlay {
                    opacity: 1;
                    transition: background 0.5s, opacity 0.5s;
                }
                .content {
                    &:after {
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    &:global(.grid-wobble){

        .item {
            .inner {
                box-shadow: 10px 10px 0 0 #272d37;
            }

            .imageOverlay {
                background: rgba(251, 6, 138, 0.6);
                opacity: 0;
            }
            &:hover {
                .imageOverlay {
                    opacity: 1;
                    transition: background 0.5s, opacity 0.5s;
                }
            }
            .imageWrapper {
                overflow: hidden;
            }
            .contentLayer {
                padding: 0.8rem;
                z-index: 99;
            }
            .titleWrapper {
                .title {
                    &.mainTitle {
                        font-size: 1.4em;
                    }
                    &.subTitle {

                    }
                }
            }
            .imageOverlay {
                &:after{
                    content:'';
                    /*     background: #007bff;*/
                    background-image: url('./media/diagonal-tuna.svg');
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    bottom: 0;
                    transform: translateY(100%);
                    transition: transform .4s;
                }
            }

            &:hover {
                .imageOverlay {
                    opacity: 0.7;
                    transition: background 0.5s, opacity 0.5s;
                }
                .imageOverlay {
                    &:after {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

