.fullpageBg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #282c34;
}
.fullpageBgA {
    background-image: url('../../media/factory-2.gif');
}
.fullpageBgB {
    background-image: url('../../media/factory-2.gif');
}
.fullpageBgC {
     background-image: url('../..//media/factory-3.gif');
 }