.pageTitleInner {
    display: flex;
    flex-direction: row;

    &.full {
        padding: 30px;
    }

    &.centerAlign {
        padding: 30px 0;
    }
}
.pageTitleCell {
    &.titleCell {
        flex: 1;
    }
}
.pageTitle {
    margin: 0;
}