// Bootstrap

$body-bg: #ffffff;

// React Components

$menu-trigger-bg: #7b0b0b;

$footer-reveal-bg: #b3b3b3;
$footer-reveal-color: #fff;
$footer-reveal-font-size: 0.85em;

$footer-fixed-bg: #F1F2F2;


//
// Lists
//
$list-group-border-radius: 0;
