.logoWrap {
    position: fixed;
    z-index: 1500;
    width: 30vw;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    top: 0;
    left: 0;
    @include media-breakpoint-up(md) {
        width: 12vw;
        transform-origin: 100% 0;
        transform: rotate(90deg) translateX(100%);
    }
}
.logoInner {
    position: relative;
    display: block;
    padding: 4px;
    top: -8px;
    margin-bottom: -8px;
    right: -6px;
    margin-left: -6px;
    @include media-breakpoint-up(md) {
        padding: 5px;
        top: -12px;
        left: -10px;
        margin-bottom: -12px;
        margin-right: -10px;
    }
    svg {
        fill: white;
        display: block;
        width: 100%;
        height: auto;
        line-height: 0;
    }
    &:hover {
        svg {
            fill: #c30d0d;
        }
    }
}