.outer {
    position: relative;
}
.inner {
    background-color: #3c3c3c;
    box-sizing: border-box;
    flex: 1;
}
.stickyHeader {
    position: fixed;
    -webkit-transform: translateZ(0);
    -webkit-overflow-scrolling: auto;
    z-index: 250;
    top: 0;
    left: 0;
    right: 0;
}
.menuFlexWrap {
    display: flex;
    .menuFlex{
        width: 54px;
        transform: translate(0);
    }
}
.main {
    position: relative;
    z-index: 100;
    background-color: #3c3c3c;
    box-shadow: 0 3px 28px #0c0c0c6e;
}
.center {
    max-width: 1200px;
    margin: 0 auto;
}
.scroll {
    display: flex;
    flex-direction: column;
}
.fixed {
    position: fixed;
    width: calc(100vw - 54px);
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left: 54px;
}
.menu {
    position: fixed;
    background: #2b2b2b;
    color: black;
    width: 280px;
    height: 100vh;
    overflow: auto;
    z-index: 255;
    border-left: 1px solid #2B2B2B;
}