.outer {
    position: relative;
}
.mainContainer {
    box-sizing: border-box;
    flex: 1;
    position: relative;
    z-index: 10;
    .content {
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 28px #0c0c0c6e;
    }
}

.headerContainer {
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 250;
    top: 0;
    left: 0;
    right: 0;
}

.menuFlexWrap {
    display: flex;
    .menuFlex{
        width: 54px;
        transform: translate(0);
    }
    .mainFlex {
        flex: 1;
    }
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}
.fixed {
    position: fixed;
    width: calc(100vw - 54px);
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left: 54px;
}
.menu {
    position: fixed;
    background: #2b2b2b;
    color: black;
    width: 280px;
    height: 100vh;
    overflow: auto;
    z-index: 255;
    border-left: 1px solid #2B2B2B;
}
.footerContainer {
    &.isReveal {
        position: fixed;
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: auto;
        z-index: -1;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.isFixed {
        position: fixed;
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: auto;
        z-index: 10;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }

}