.navList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
    @include media-breakpoint-up(md) {
        display: flex;
    }
}
.link {
    height: 100%;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    padding: 0 20px 0;
    transition: background-color 0.05s ease-in;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:hover,
    &.hover {
        background-color: #333333;
    }
}

.reactHoverObserver {
    height: 100%;
    display: flex;
}


.dropdown {
    display: none;
    height: 100%;
    @include media-breakpoint-up(md) {
        display: inline-block;
    }
    .item {
        height: 100%;
    }
    .menu {
        position: absolute;
        top: 100%;
        background-color: #333333;
        border-bottom: 1px solid #000;
        color: #fff;
        padding: 40px;
    }
}
.megaMenu {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    overflow: hidden;
    border-top: 15px solid #333333;
    &.show {
        display: block;
    }
    .inner {
        background-color: #333333;
        color: #fff;
        padding: 0 30px 15px;
    }
    .layout {
        display: flex;
        flex-direction: row;
        .columns {
            list-style: none;
        }
    }
}


.layout {

    :global(.list-group){
        list-style: none;
        padding: 0;
        :global(.list-group-item) {
            background: transparent;
            border: 0;
            color: #fff;
            font-size: 0.95em;
            padding: 0;
            a {
                color: #fff
            }
        }
    }

    :global(.column) {
        border-right: 1px solid #525252;
        padding-top: 5px;
        &:last-child {
            border-right: 0;
        }
        > :global(.list-group) {
            padding: 0px 5px;
            > :global(.list-group-item) {
                margin-bottom: 15px;
                :global(.list-group-item) {
                    padding: 0.15rem 0;
                }
            }
        }
    }
    :global(.column) {
        &:global(.before) {
            background: #272727;
            border: 0;
            border-radius: 5px;
            padding: 20px 15px
        }
    }




    :global(.menuTitle),
    .menuTitle {
        font-size: 1.1em;
        font-weight: bold;
        color: #e4af45;
    }
    :global(.menuTitle) {
        &:global(.sale) {
            color: #e467cb;
        }
        &:global(.new) {
            color: #82a5e4;
        }
    }
}
