.slide {
    padding: 0px 10px;
    .inner {
        text-align: center;
        opacity: 0;
        transition: opacity .6s cubic-bezier(0.4, 0, 0.2, 1),transform .6s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(30px);
    }

    .imageWrap {
        transform: translateY(0%);
        transition: 0.5s transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-align: center;
    }

    img {
        display: inline-block;
    }
    h3{
        margin: 0;
        line-height: 150px;
        height: 150px;
    }

}

.container {
    &.show {
        .slide {
            .inner {
                transform: translateX(0%);
                opacity: 1;
            }

        }
    }
}