.navList {
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
}
.navItem {
    position: relative;
    flex: 1;
    .navLink {
        height: 100%;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: .075em;
        padding: 0 20px 0;
        .icon {
            width: 22px;
            display: inline-block;
            svg {
                fill: #fff;
            }
            &.contact {
                width: 26px;
            }
        }
        &:hover,
        &.hover {
            background-color: #333333;
        }
    }
}
.reactHoverObserver {
    height: 100%;
    display: flex;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    background-color: #333333;
    color: #fff;
    width: 10vw;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: -5vw;
    overflow: hidden;
    text-align: center;

    &.show {
        display: block;
    }
}
.iconNavSide {
    flex-direction: column;
    pointer-events: all;
    .navItem {
        .navLink {
            padding: 0;
            height: 54px;
            width: 100%;
            text-align: center;
            span {
                margin:0 auto;
            }
        }
    }
    .dropdown {
        &.show {
            display: none;
        }
    }
}


.dropdown {
    max-height: 50vh;
    overflow: scroll;
    &:global(.minCartDropdown){
        overflow: hidden;
        right: 0;
        left: auto;
        margin-right: 0;
        width: 400px;
        text-align: left;
    }
}