.grid {
    :global(.list-group-item) {
        border: 0;
        margin-bottom: 0;
        background: transparent;
    }
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -12px -12px 30px;
}

.item {
    width: 100%;
    padding: 30px;
    transition: all 0.3s ease;

    @include media-breakpoint-up(md) {
        flex-basis: 50%;
    }

    @include media-breakpoint-up(lg) {
        flex-basis: 33.3333333%;
    }
}

.aniLfr {
    transform: translateX(80px);
    opacity: 0;
}
.inner {
    background: #fff;
    height: 300px;
}
.imageWrapper {
    background: #ccc;
    overflow: hidden;
    height: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    display: block;
    position: relative;
}
.imageOverlay {
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.29);
    position:absolute;
    top: 0px;
    left: 0px;
    padding:10px;
    display: inline-flex;
    align-items: center;

}
.titleWrapper {
    transform: translateZ(20px);
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px;
    box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
}
.title {
    font-size: 1.2em;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    word-break: break-all;
    color: #fff;
    font-weight: 700;
    .span {
        display: inline-block;
        word-break: break-all;
    }
}
.subTitle {
    font-size: 1em;
    color: #000;
    font-weight: normal;
    text-transform: none;
}

.body {
    padding: 10px;
    height: 135px;
    overflow: hidden;
    font-size: 0.9em;
}