.footer {
    width: 100%;
    padding: 20px;
    &.reveal {
        padding-top: 25px;
        background-color: #b3b3b3;
    }
    &.fixed {
        background-color: #F1F2F2;
        border-top: 1px solid #cecece;
        padding: 10px 0;
        box-shadow: 0 -10px 10px -10px #0c0c0c38;

        @include media-breakpoint-up(md) {
            padding: 20px 0;
        }

    }
}