.contentLayer {
    background-color: #f7f5f5;
    padding-bottom: 0;
}

.slide {
    padding: 0px 10px;

    .inner {
        background-color: #ff420d;
        text-align: center;
        color: #ffffff;
    }
}