

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
    position: relative;
    padding: 10px 0;
    .icon {
        display: inline-block;
        width: 22px;
        svg {
            fill: #424242;
        }
    }
    @include media-breakpoint-up(md) {
        padding: 10px 0;
    }
    .section {
        padding: 0px 10px 10px;
        @include media-breakpoint-up(md) {
            padding: 0px 10px;
        }
    }

    .timeline {
        display: flex;
        align-items: center;
        order: 4;
        flex-basis: 100%;
        padding: 0px 10px 10px 20px;
        @include media-breakpoint-up(md) {
            flex: 1;
            order: inherit;
            padding: 0px 10px;
        }
        .cover {
            height: 40px;
            margin-right: 10px;
            @include media-breakpoint-up(md) {
              /*  padding: 0px 10px;*/
            }
        }

        .timelineDetails{
            display: flex;
            flex-direction: row;
            .duration {
                margin-left: auto;
                text-align: right;
            }
            .trackDetails {
                flex: 1;
            }
        }


        .timelineWrap {
            padding: 0px 15px;
            position: relative;
            flex: 1;
        }
        .elapsed,
        .duration {
            font-size: 0.8em;
        }
        .duration {
            width: 50px;
            text-align: left;
            cursor: default;
        }

        .trackDetails{
            text-align: center;
            font-size: 0.8em;
        }
    }


    &.sidebar {
        .section {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .button {
            width: 100%;
            height: 54px;
            padding: 0;
        }
        .icon {
            width: 22px;
            svg {
                fill: #ffffff;
            }
        }
        .timeline {
            display: none;
        }
    }
}

.barWrap {
    .bar {
        &:focus{
            outline: none;
        }
    }
}

.timeline {
    .slider{
        width: 100%;
        height: 4px;
        position: relative;
        display: inline-block;
        background-color: #ddd;

        :global(.value) {
            position: absolute;
            background-color: #ff00ea;
            height: 100%;
            transition: all 0.3s ease;
            &::after {
                content:'';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #ff00ea;
                position: absolute;
                border-radius: 50%;
                right: -5px;
                top: calc(-50% - 1px);
            }
        }

        :global(.handle) {
            position: absolute;
            width: 10px;
            height: 10px;
        }
    }

  /*  .barWrap{
        .bar {
            -webkit-appearance: none;
            appearance: none;
            height: 2px;
            background: transparent;
            width: 100%;
            position: relative;
        }
        &.range {
            z-index: 3;
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );
            outline: none;
            .bar {
                top: -3px;
                &:focus{
                    outline: none;
                }
            }
        }
    }*/
}

.button {
    border: 0;
    background: transparent;
    &:focus {
        outline: none;
    }
}

.volume{
    margin-left: auto;
    position: relative;

    @include media-breakpoint-up(md) {
        margin-left: 0;
    }

    .barWrap {
        box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        position: absolute;
        padding: 10px;
        height: 120px;
        bottom: 100%;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .slider{
/*        transform: rotate(-180deg);
        transform-origin: 50%;*/
        width: 2px;
        height: 100%;
        position: relative;
        display: inline-block;
        background-color: #ff00ea;

        :global(.value) {
            position: absolute;
            background-color: #ddd;
            width: 100%;
        }

        :global(.handle) {
            position: absolute;
            width: 10px;
            height: 10px;

            &::after {
                content:'';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #ff00ea;

                border-radius: 50%;
                left: calc(-50% + 1px);
                top: -50%;
                position: absolute;

            }
        }
    }

}

.popUp {
    position: absolute;
    right: 0;
    bottom: calc(100% + 4px);
    width: 280px;
    max-height: calc(100vh - 120px);
    display: none;
    &.visible {
        display: block;
    }
    .inner {
        height: 100%;
        position: relative;
        box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .header {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #e4e4e4;
    }
    .close {
        width: 15px;
        margin-left: auto;
        svg {
            fill: #000;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    :global(.list-group) {
        list-style: none;
        :global(.list-group-item) {
            padding: 0;
            margin: 0;
            border-radius: 0;
            border-color:  #e4e4e4;
            border-width: 0 0 1px;
            &:last-child {
                border-width: 0;
            }
        }
        .item {
            display: flex;
            height: 100%;
            padding: 10px;
            font-size: 12px;
            cursor: pointer;

            .cover {
                margin-right: 10px;
            }
            .details {
                flex-grow: 1;
                color: #333;
                .title {
                    text-transform: uppercase;
                }
                a{
                    color: inherit;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            &:hover {
                background: #f7f6f6;
                .details {
                    opacity: 0.7;
                }
            }
        }
    }
}