.mainLayer {
    background: black;
}
.contentLayer {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    background: transparent;
    padding-bottom: 0px;

    .content {
        color: #000;
        background: #fff;
        padding-top: 70px;
    }
}
.fixedBackgroundLayer{
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    &.hide {
       // display: none;
    }
}

.carouselContainer {
    margin: 0px 30px;
}
.featureListContainer {
    margin: 70px 30px;
    color: #040505;
}


