.contentLayer {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}
.fixedBackgroundLayer{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #35363a;
}
.content {
    pointer-events: none;
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    .section {
        position: relative;
        height: 100vh;
    }
}
.mainText {
    display: table;
    position: absolute;
    top: 0;
    height: 100%;
    font-family: 'Stem Web', sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 1.25;
    z-index: 10;
    left: 20%;
    font-size: 60px;
    width: 520px;
    .inner {
        display: table-cell;
        vertical-align: middle;
    }
}
