.mainLayer {
    background: black;
}
.contentLayer {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    background: transparent;
    padding-bottom: 0px;
    margin-top: -80px;
    .content {
        color: #000;
        background: #fff;
    }
}
.fixedBackgroundLayer{
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    &.hide {
       // display: none;
    }
}
.heroContainer {
    min-height: 100vh;
}
.gridContainer {
    background: #ececec;
    padding: 70px 0;
    overflow: hidden;
}
.carouselContainer {
    padding: 70px 0;
    overflow: hidden;
}
.featureListContainer {
    padding: 70px 0;
    color: #040505;
    overflow: hidden;
}


