.articlesIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px -20px;

    .item {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0px 20px;
        border: 0;
        flex-basis: 50%;
    }
    article {
        background: #2b2b2b;
        display: flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;

        img{
            width: 100%;
        }
        .articleLink {
            color: inherit;
            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }
        }
        .summaryHeader{
            position: relative;
            z-index: 1;
            background: #35363a;
            color: #fff;
            padding: 15px;
            top: 0;
            margin: -50px 0 0 auto;
            width: 85%;
            display: block;
            flex: 1;
        }
        .category {
            margin-bottom: 0.7rem;
            color: #ffc107;
        }
        .meta {
            font-size: 0.9em;
            margin-bottom: 15px;
            > div {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}


.contentMain {
    margin-top: 40px;
}

.article {
    .articleHeader {
        margin: 0 0 30px;
    }
    .articleContent {
        margin: 30px 0;
    }
    .articleFooter {
        margin: 30px 0;
    }
}

.widgetNewsLatest {
    .articlesWidget {
        margin: -1rem;
        .item {
            padding: 0;
            margin: 0;
            border-width: 0 0 1px 0;

            &:last-child {
                border-bottom: 0;
            }
        }
        article {
            img {
                width: 100%;
            }
            .summaryHeader {
                padding: 10px;
            }
            .title {
                font-size: 1.1em;
            }
            .articleLink {
                color: inherit;
                &:hover {
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
            .category {
                font-size: 0.95em;
                margin-bottom: 0.5rem;
                color: #4a6dff;
            }
            .meta {
                font-size: 0.9em;
                margin-bottom: 15px;
                > div {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}