.weatherWrapper {
    position: relative;
}
.weatherMap{
    margin:0 auto;
    height: 640px;
    width: 100%;
    position: relative;
    @include media-breakpoint-up(md) {
        height: 100vh;
    }
}
.weatherPanel {

    color: #ffffff;
    background: rgba(40, 40, 40, 0.9);
    .inner {
        padding: 15px;
    }
    .header {
        margin-bottom: 30px;
    }
    .summary {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        max-width: 280px;
        .weatherIcon,
        .temperature {
            box-sizing: content-box;
            width: 50%;
            padding: 10px;
        }
    }
    .details {
        display: flex;
        flex-direction: row;
        border-top: 1px solid rgba(239, 236, 236, 0.45098039215686275);
        padding: 20px 0px;
        .cell {
            width: 33.333%;
            text-align: center;
        }
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 100px;
        bottom: 30px;
        left: 30px;
        width: 300px;
        z-index: 99;
        border-radius: 5px;
        box-shadow: 2px 2px 7px 0px #3e3e3ec7;
        .inner {
            overflow: hidden;
            height: 100%;
        }
    }
}
.temperature {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    .tempCell {
        flex: 1;
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
    }
    .Max {
        font-weight: bold;
    }
    .Min {
        font-weight: 100;
    }
}
.date {
    font-size: 1.3em;
}
.location {
    font-size: 1.1em;
}
.icon {
    display: block;
    width: 100%;
}
.summary {
    .icon {
        &.sun {
            fill: #e8e800;
        }
    }
}
.details {
    .cell {
        font-size: 0.9em;
    }
    .icon {
        height: 50px;
        width: 50px;
        fill: #ffffff;
        margin: 0 auto;
        &.sun,
        &.precipitation {
            padding: 7px;
            fill: #ffffff;
        }
        &.wind {
            transform-origin: 50%;
        }
    }
}
.extra {
    border-top: 1px solid rgba(239, 236, 236, 0.45098039215686275);
    padding: 20px 5px;
    margin-bottom: 0.6em;
    font-size: 0.8em;
    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.6em;
        .label {
            flex: 1;
        }
    }
}