.contentLayer {
    background-color: #ffffff;
}




// StickyElements

.containerMain {
    margin-top: 40px;
}

.sidebarWrap{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebarWidget {
    margin-bottom: 20px;
    /* &.stickyPanel {
         display: none;
         @include media-breakpoint-up(md) {
             display: inherit;
         }
     }*/
}


.bannerContainer {
    margin: 1.5rem auto 2.5rem;
}