.grid {
    :global(.list-group-item) {
        border: 0;
        margin-bottom: 0;
        background: transparent;
    }
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px -10px 30px;
    @include media-breakpoint-up(md) {
        margin: -20px -20px 40px;
    }
}
.item {
    width: 100%;
    padding: 10px;
    @include media-breakpoint-up(sm) {
        width: 50%;
    }
    @include media-breakpoint-up(md) {
        flex-basis: 33.3333333%;
        padding: 20px;
    }
}

.inner {
    background: #fff;
    height: 300px;
    transition: all 0.3s ease;
    &:hover {
        @include media-breakpoint-up(md) {
            transform: translateZ(0) scale(1.05);
            box-shadow: 0 5px 8px 0px rgba(29, 29, 29, 0.3);
        }
    }
}
.imageWrapper {
    background: #ccc;
    overflow: hidden;
    height: 150px;
    transform: translateZ(0);
    backface-visibility: hidden;
    display: block;
    position: relative;
}
.imageOverlay {
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    background-color:rgba(0, 0, 0, 0.29);
    position:absolute;
    top: -5px;
    left: -5px;
    padding:10px;
}
.titleWrapper {
    position: absolute;
    bottom: 5px;
}
.title {
    font-size: 0.8em;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0.2rem;
    .span {
        background-color:rgba(0, 0, 0, 0.8);
        display: inline-block;
        padding: 3px;
    }
}
.subTitle {
    color: #ccc;
    text-transform: none;
}

.body {
    padding: 10px;
    height: 135px;
    overflow: hidden;
    font-size: 0.9em;
}