.contactForm {
    margin-bottom: 40px;
}
:global(label){
    display: block;
    .required {
        color: #dc3939;
    }
}
:global(.form-control){
    border-radius: 0;
    border-color: transparent transparent $gray-400 $gray-400;

    &:global(.is-invalid){
        border-color: transparent transparent #dc3939 #dc3939;
    }

    &:focus {
        background: #fff;
        border-color: $gray-500;
        outline: none;
    }
}

