.contactForm,
.searchForm,
.loginForm,
.signUpForm {
    :global(.form-control) {
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
}

.formRow {
    display: flex;
    flex-wrap: wrap;
}

.contactForm {
    margin-bottom: 20px;

    :global(label){
        display: block;
        .required {
            color: #dc3939;
        }
    }
    :global(.form-control){
        border-color: transparent transparent $gray-400 $gray-400;
        &:global(.is-invalid){
            border-color: transparent transparent #dc3939 #dc3939;
        }
        &:hover {
            background: #f7f7f7;
            border-color: $gray-500;
        }
        &:focus {
            background: #fff;
            border-color: $gray-500;
            outline: none;
        }
    }
}

.searchForm {
    :global(label){
        display: block;
    }
    :global(.form-control){
        background: transparent;
        font-size: 1.8em;
        border: 0;
        border-bottom: 2px solid #515557;
        padding: 1.5rem 0;
        &:focus {
            background: transparent;
            border-color: inherit;
            outline: none;
        }
    }
}

.loginForm,
.signUpForm{
    :global(label){
        display: block;
        .required {
            color: #dc3939;
        }
    }
    :global(.form-control){
        border-color: transparent transparent $gray-400 $gray-400;
        &:global(.is-invalid){
            border-color: transparent transparent #dc3939 #dc3939;
        }
        &:hover {
            background: #f7f7f7;
            border-color: $gray-500;
        }
        &:focus {
            background: #fff;
            border-color: $gray-500;
            outline: none;
        }
    }
}

.newsletterSignUpForm {
    label {
        font-size: $h5-font-size;
    }
    input {
        flex: 1;
        border-right: 0;
        border-radius: $input-border-radius 0 0 $input-border-radius ;
        &::placeholder{
            font-size: 0.9em;
        }
    }
    button {
        border-radius: 0 $input-border-radius $input-border-radius 0;
    }

    @include media-breakpoint-down(md) {
        .formRow{
            max-width: 80%;
            margin: 0 auto;
        }
        label {
            margin-bottom: 20px;
        }
    }
}

.errorMessage {
    padding: 10px;
    background: #F44336;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.button {
    background: #d2d7e4;
    border: 0;
    padding: 10px 35px;
    border-radius: 5px;
}